//Variables

$color1: #212121;
$color2: #3F3F3F;
$color3: #515151;
$color4: #757575;
$color5: #EAEAEA;
$linea: skew(21.3deg) translateX(-10.5em);
$skew: skew(21.3deg);
$anim: 2s ease;
$mobile-mini: "(max-width: 361px)";
$mobile: "(max-width: 480px)";
$tablet: "(max-width: 1023px)";
$desktop: "(min-width: 1024px)";
